[user]
    name = {NAME}
    email = {EMAIl}
[merge]
    conflictstyle = diff3
[alias]
    br = branch
    cam = commit --amend --no-edit
    chr = cherry-pick
    cm = commit -m
    co = checkout
    d = diff
    dca = diff --cached
    l = log --decorate
    s = status --show-stash
[push]
    default = simple
